.searchInput {
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--rounded-corners);
    border-color: var(--primary-color);
    border-style: solid;
    border-width: 1px;
}